@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full bg-white scroll-smooth;
  }
}

@layer components {
  .content {
    @apply w-full md:max-w-screen-sm lg:max-w-full xl:max-w-screen-lg hover:cursor-default
  }
}

.card-animation {
  animation: slide-top 1s ease-in-out 0.5s, fadeIn 0.5s ease-in-out 0.5s;
}
@keyframes slide-top {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}